@import '../../style/theme.scss';
@import '../../style/mixins/index.scss';

.platforms-item-wrapper {
  color: $white;
  border-radius: 1rem;
  background-color: $accent;
  padding: $gutter;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;

  .platforms-item-section {
    margin-right: 1rem;
    height: 100%;
    &.name-logo {
      text-align: center;
      .img-wrapper {
        height: 60%;
        overflow: hidden;
        img {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
    img {
      width: 10rem;
      max-height: 100%;
    }
    &.bg {
      border-radius: 1rem;
      height: 100%;
      padding: .5rem;
      @include box_shadow(2);
      &--sub label,&--sub div {
        justify-self: center;
      }
    }
    &.games {
      background-color: darken($accent, 5%); 
    }
    &.prices {
      background-color: darken($accent, 10%);
    }
    &--sub {
      display: flex;
      flex-direction: column;
      &.top {
        margin-bottom: 1rem;
      }
      label {
        font-weight: bold;
        color: $light-orange;
      }
    }
  }
}