@import '../../style/theme.scss';

.platforms-item-wrapper {
  color: $white;
  border-radius: 1rem;
  background-color: $accent;
  padding: $gutter;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;;

  .platforms-item-section {
    margin-right: 1rem;
    img {
      width: 10rem;
      max-height: 100%;
    }
    &--sub {
      display: flex;
      flex-direction: column;
      &.top {
        margin-bottom: 1rem;
      }
      label {
        font-weight: bold;
        color: $light-orange;
      }
    }
  }
}