@import '../../../style/theme.scss';
.game-form--wrapper {
  .divider {
    width: 80%;
    text-align: left;
    hr {
      width: 100%;
    }
  }
  .long-text-area {
    width: 80%;
  }
  h3 {
    color: $light-orange;
  }
}
