.filter-group {
  display: flex;
  align-items: center;
  div,
  input {
    margin: 0 0.5rem;
  }
  input {
    width: 25ch;
  }
}
@media screen and (max-width: 700px) {
  .filter-group {
    flex-direction: column;
    .p-dropdown {
      margin-bottom: 1rem;
      input {
        margin: 0;
      }
    }
  }
}
