@import '../../style/theme.scss';
.home-prices {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  table {
    margin-right: $gutter;
  }
  table.home-prices--table,
  th,
  td {
    border: 1px solid $white;
    font-family: $secondary-font;
  }

  table.home-prices--table {
    border-collapse: collapse;

    tr:nth-child(even) {
      background-color: lighten($primary, 7%);
    }

    th {
      color: $white;
      padding: 0.25rem 1rem;
      text-align: left;
    }

    td {
      padding: 0.25rem 1rem;
      color: $light-orange;
      text-align: left;
    }

    tfoot td {
      color: $white;
    }

    td.positive {
      color: $light-green;
    }
    td.negative {
      color: $warn;
    }
  }
}
