@import '../../../style/theme.scss';
@import '../../../style/mixins/index.scss';

.decider--form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  // justify-content: center;
  label {
    margin-right: 1rem;
  }
  .decider--form__input-group {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    margin-bottom: 1rem;
    @include bp_lte(md) {
      margin-bottom: 0.3rem;
    }
    &.stack {
      flex-direction: column;
      div:not(:last-child) {
        margin-bottom: 0.3rem;
      }
    }
  }
}
