@import '../../style/theme.scss';
.data-table-container {
  height: 100%;
  display: flex;
  .p-datatable-scrollable-wrapper {
    height: calc(100vh - 242px);
    overflow-y: scroll;
    background-color: $black;
    font-size: 0.8rem;
  }
}
