@import '../../style/theme.scss';
@import '../../style/mixins/index.scss';

.data-table-container {
  height: 100%;
  display: flex;
  .p-datatable-scrollable-wrapper {
    height: calc(100vh - 260px);
    overflow-y: scroll;
    background-color: $black;
    font-size: 0.8rem;

    @include bp_lte(md) {
      height: calc(100vh - 282px);
    }

    .p-column-title.mobile-header {
      display: none;
      @media screen and (max-width: 640px) {
        display: inline-block;
        margin-right: 1rem;
      }
    }
  }

  
}
