@import '../../style/theme.scss';
.navbar {
  display: flex;
  background-color: $secondary;
  padding: 1rem;
  a,
  a:visited {
    margin: auto $gutter;
    font-size: 2rem;
    color: $light-orange;
    font-family: $secondary-font;
    text-transform: uppercase;
    &.active {
      color: darken($light-khaki, 15%);
      font-weight: bold;
    }
  }
}
