@import '../../style/theme.scss';
@import '../../style/mixins/index.scss';

.navbar {
  display: flex;
  background-color: $secondary;
  padding: 1rem;
  a,
  a:visited {
    margin: auto $gutter;
    font-size: 2rem;
    color: $light-orange;
    font-family: $secondary-font;
    text-transform: uppercase;
    &.active {
      color: $light-blue;
      font-weight: bold;
    }
  }
  .mobile-nav {
    display: none;
  }
  @media screen and (max-width: 700px) {
    // @include breakpoints(md) {
    .main-nav {
      display: none;
    }
    .mobile-nav {
      display: block;
      i {
        font-size: 2rem;
        color: $light-orange;
      }
      .mobile-nav--menu {
        position: absolute;
        z-index: 1000;
        i {
          font-size: 1rem;
        }
      }
    }
  }
}
