$primary: #586994;
$secondary: #7d869c;
$accent: #395756;
$warn: #d5573b;
$error: #49111c;
$success: #1b3022;
$white: #fafafa;
$black: #0a0908;

$primary-font: 'Cardo', serif;
$secondary-font: 'Oswald', sans-serif;
