// colors
$primary: #02111b;
$secondary: #3f4045;
$accent: #30292f;
$warn: #bf4e30;
$error: #4f000b;
$success: #1d7874;
$white: #fcfcfc;
$black: #0a0908;
$extra-light: #5d737e;
$light-blue: #56cbf9;
$light-green: #40f99b;
$light-khaki: #efd6ac;
$light-orange: #fa8334;

// fonts
$primary-font: 'Cardo', serif;
$secondary-font: 'Oswald', sans-serif;

// spacing
$gutter: 1rem;
