@import '../../style/theme.scss';

.list-view {
  display: flex;
  flex-direction: column;
  .list-view--row {
    display: flex;
    padding: 0.5rem;
    border-color: $white;
    border-top: 1px solid;
    border-bottom: 1px solid;
    color: $white;
    align-items: center;
    cursor: pointer;
    .list-view--row__cell {
      max-width: calc(100vw - 38rem);
      color: $light-green;
      &.item-name {
        width: 25rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $light-orange;
        font-weight: bold;
      }
    }
    img {
      // width: 100%;
      width: 5rem;
      height: 3rem;
      object-fit: cover;
      object-position: 50% 0%;
    }
    img,
    div {
      margin-right: 2rem;
    }
  }

  @media screen and (max-width: 800px) {
    .list-view--row {
      padding: 0.2rem;
      .list-view--row__cell {
        max-width: 33%;
      }
    }
  }

  @media screen and (max-width: 600px) {
    .list-view--row {
      padding: 0.5rem;
      .list-view--row__cell {
        max-width: 50%;
      }
    }
    img {
      display: none;
    }
  }
}
