@import '../../style/theme.scss';
@import '../../style/mixins/index.scss';
@import './FilterBar/FilterBar.scss';
@import './SortBar/SortBar.scss';

.filter-sort-header {
  width: 100%;
  display: flex;
  justify-content: center;
  // align-items: center;
  flex-direction: column;
  background-color: $white;
  padding: 0.5rem 1.5rem;
  @include bp_lte(md) {
    padding: 0 0.5rem;
  }
  @include box_shadow(2);
  border-radius: 0.5rem;
  .filter-sort-header--section-head {
    display: flex;
    align-items: baseline;
  }
  .filter-sort-header--section {
    display: flex;
    justify-content: flex-start;
    // align-items: center;
    .filter-sort-header--section-head {
      margin-right: 2rem;
      @include bp_lte(md) {
        margin-right: 0;
      }
    }
  }
}

@include bp_lte(md) {
  .filter-sort-header {
    border-radius: 0;
    padding: 0.5rem;
    .filter-sort-header--section {
      .filter-sort-header--section-head {
        margin-right: 1rem;
      }
    }
  }
}
