@import '../../style/theme.scss';
.game-card {
  width: 10rem;
  height: 15.5rem;
  display: flex;
  justify-content: center;
  margin: 0.5rem;
  cursor: pointer;
  padding-top: 0;
  border-radius: 10px;
  &.digital-copy {
    background-color: $success;
  }
  &.backward-compatible {
    background: rgb(63, 64, 69);
    background: linear-gradient(90deg, rgba(63, 64, 69, 1) 0%, rgba(191, 78, 48, 1) 100%);
  }
  &.both-copies {
    background: rgb(63, 64, 69);
    background: linear-gradient(60deg, rgba(63, 64, 69, 1) 0%, rgba(29, 120, 116, 1) 100%);
  }
  &.trifecta {
    background: rgb(29, 120, 116);
    background: linear-gradient(
      90deg,
      rgba(29, 120, 116, 1) 0%,
      rgba(63, 64, 69, 1) 50%,
      rgba(191, 78, 48, 1) 100%
    );
  }
  .p-card-body {
    padding: 0 0.75rem;
  }
  .game-card--content {
    img {
      width: 10rem;
      height: 12rem;
      object-fit: cover;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    &__overlay {
      background-color: rgba(0, 0, 0, 0.65);
      width: 10rem;
      position: absolute;
      z-index: 10;
      margin-top: -1.5rem;
      font-weight: bold;
      display: flex;
      justify-content: space-around;
      align-items: baseline;
    }
    .game-card--content__title {
      height: 3rem;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      h5 {
        text-align: center;
        word-wrap: break-word;
        margin: 0;
      }
    }
  }
}
