@import '../../style/theme.scss';
@import '../../style/mixins/index.scss';

.game-dialog {
  // max-width: 1600px;
  width: 100%;
  .game-dialog--body {
    display: flex;
    flex-direction: column;
    width: 100%;
    h4 {
      padding-left: $gutter;
    }
    .game-dialog--body__image-and-deck {
      display: flex;
      padding: $gutter;
      img {
        max-width: 30rem;
        max-height: 25rem;
        width: auto;
        height: auto;
        display: block;
        @include bp_lte(md) {
          max-width: 100%;
          max-height: 40rem !important;
        }
      }
      .right-container {
        display: flex;
        flex-direction: column;
        padding: 0 2rem 2rem;
        @include bp_lte(md) {
          padding: 0.25rem;
        }
        p {
          margin: 0 0 2rem;
          font-size: 1.2rem;
        }
        .card-row {
          display: flex;
          @include bp_lte(md) {
            flex-direction: column;
          }
          table {
            max-width: 30rem;
            font-size: 1rem;
            tr {
              td {
                padding: 0.25rem;
                border-bottom: 1pt solid $white;
              }
              td.table-cat {
                font-weight: bold;
                color: $light-blue;
                font-family: $secondary-font;
              }
            }
          }
        }
        .owned-for {
          border: 1px solid $extra-light;
          border-collapse: collapse;
          margin-top: 1rem;
          th,
          td {
            border: 1px solid $extra-light;
            border-collapse: collapse;
          }
          th {
            color: $warn;
          }
          @include bp_lte('sm') {
            th,
            td {
              font-size: 0.75rem;
            }
          }
        }
        .game-notes {
          display: flex;
          width: 100%;
          font-size: 1rem;
          align-items: baseline;
          margin: 0.5rem 0;
          .game-notes--head {
            font-weight: bold;
            color: $light-orange;
            font-family: $secondary-font;
            margin: 0 1rem 0 0.3rem;
            font-size: 1.1rem;
          }
        }
      }
    }
    .image-container {
      margin: 1rem 0;
      display: flex;
      width: 100%;
      // flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      img {
        max-height: 6rem;
        margin-left: 2rem;
      }
      h3 {
        margin-left: 1rem;
      }
      .extra-data {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        margin-left: 2.5rem;
        color: $light-green;
        div {
          margin-top: 1rem;
        }
      }
    }
    .game-dialog--body__consoles {
      display: flex;
      justify-content: space-around;
      background-color: $white;
      padding: 1rem;
      img {
        max-height: 8rem;
        max-width: 100%;
        height: auto;
        width: auto;
      }
    }

    @include bp_lte(lg) {
      .game-dialog--body__image-and-deck {
        flex-direction: column;
        flex-wrap: wrap;
        img {
          display: block;
          max-height: 100%;
          width: auto;
          height: auto;
          object-fit: contain;
        }
      }
    }
  }
}
