@import './style/theme.scss';
@import './style/styles.scss';
@import './components/navbar/Navbar.scss';
@import './Library.scss';
@import './Decider.scss';
@import './Lists.scss';
@import './Viz.scss';
@import './components/DatTable/DatTable.scss';
@import './components/filterGroup/FilterGroup.scss';
@import './components/GameCard/GameCard.scss';
@import './components/DeciderHeader/DeciderHeader.scss';
@import './components/ListView/ListVIew.scss';
.App {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-color: $primary;
}
