@import './style/theme.scss';
@import './style/mixins/index.scss';

.decider-container {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .decider-bar-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .decider--counter {
    h3 {
      color: $white;
    }
  }
  .decider--results {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
}
@include bp_lte(md) {
  .decider-container {
    padding: 0;
  }
}
