@import './style/theme.scss';
@import './style/mixins/index.scss';
.gallery-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
  .dropdown-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    label {
      color: $white;
    }
  }
  .gallery {
    width: 100%;
    margin-top: 2rem;
  }
  .item-template {
    max-width: 100%;
    max-height: calc(100vh - 84px - 25rem);
    width: auto;
    height: auto;
    cursor: pointer;
    @include bp_lte(md) {
      max-height: calc(100vh - 84px - 15rem);
    }
  }
  .thumb-template {
    max-width: 90%;
    max-height: 20rem;
    @include bp_lte(md) {
      max-height: 8rem;
    }
  }
}

.dialog-image {
  max-height: 99vh;
  max-width: 100%;
  &--image {
    max-width: 100%;
    max-height: 100%;

    object-fit: contain;
  }
}
