@import './style/theme.scss';
.home {
  display: flex;
  flex-wrap: wrap;
  padding: $gutter;
  h3 {
    color: $white;
  }
  .container-column {
    margin: $gutter;
  }
  .home--row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: $gutter 0;
    flex-wrap: wrap;
  }
  .chart-container {
    min-height: 500px;
    height: auto;
    margin: $gutter 0;
    .p-chart {
      height: 100%;
    }
  }
}
