@import './style/theme.scss';
.library {
  .button-container {
    padding: $gutter;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .filter-add {
    padding: $gutter;
    display: flex;
    width: 100%;
    justify-content: space-between;
    .items-count {
      color: $white;
      font-weight: bold;
    }
  }
  .form-dialog--header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: $gutter $gutter 0 $gutter;
    button {
      margin-right: $gutter;
    }
    &.confirmation {
      justify-content: flex-start;
      .deletion-confirmation {
        display: flex;
        align-items: flex-end;
        &--question {
          display: flex;
          .item-name {
            margin: 0 .25rem;
            white-space: nowrap;
            overflow: hidden;
            font-weight: bold;
            color: $light-blue;
            max-width: 30ch;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
}
