@import './style/theme.scss';
.library {
  .button-container {
    padding: $gutter;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .filter-add {
    padding: $gutter;
    display: flex;
    width: 100%;
    justify-content: space-between;
    .items-count {
      color: $white;
      font-weight: bold;
    }
  }
  .form-dialog--header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $gutter $gutter 0 $gutter;
    button {
      margin-right: $gutter;
    }
  }
}
