@import './style/theme.scss';
.navbar {
  display: flex;
  background-color: $secondary;
  padding: 1rem;
  a {
    margin: auto $gutter;
    font-size: 2rem;
    font-weight: bold;
    font-family: $secondary-font;
    text-transform: uppercase;
  }
}
