@import './style/theme.scss';
@import './style/mixins/index.scss';

.viz {
  padding: 2rem;
  .viz-header {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 2rem;
    .viz-header--group {
      display: flex;
      flex-direction: column;
      margin: 0 2rem;
      align-items: center;
      label {
        color: $white;
        font-weight: bold;
        font-size: 1.2rem;
      }
    }
  }
  .viz-chart--container {
    width: 100%;
    height: calc(100vh - 250px);
    justify-content: center;
    display: flex;
  }
}

// @media screen and (max-width: 700px) {
@include bp_lte(md) {
  .viz {
    padding: 1rem 0;
    .viz-header {
      flex-direction: column;
      .viz-header--group {
        margin-bottom: 2rem;
      }
    }
  }
}
