@import '../../style/theme.scss';
@import './GameForm/GameForm.scss';

.crud-form {
  padding: 0 $gutter $gutter $gutter;
  max-height: calc(100vh - 300px);
  form {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
    label {
      margin-right: $gutter;
      width: 20ch;
    }
    .crud-form--form__row {
      margin: 0.5rem 0;
      display: flex;
      align-items: center;
      img {
        max-height: 8rem;
        margin-left: 2rem;
      }
    }
  }
}
