@import '../../style/theme.scss';
@import './GameForm/GameForm.scss';

.crud-form {
  max-height: calc(100vh - 300px);
  .crud-form--flex-wrapper {
    padding: 0 $gutter $gutter $gutter;
    display: flex;
    justify-content: space-between;
    .crud-form--image-and-data {
      img {
        max-height: 30rem;
        width: auto;
        // max-width: 50%;
        object-fit: contain;
      }
      &__extra-data {
        color: $light-green;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      height: 100%;
      width: 100%;
      label {
        margin-right: $gutter;
        width: 20ch;
      }
      .crud-form--form__row {
        margin: 0.5rem 0;
        display: flex;
        align-items: center;
      }
    }
  }
  .crud-form--footer {
    display: flex;
    align-items: center;
    padding: $gutter;
    background-color: $accent;
    button {
      margin-right: $gutter;
    }
  }
}
