@import '../../style/theme.scss';
@import './GameForm/GameForm.scss';

.crud-form {
  max-height: calc(100vh - 354px);
  .crud-form--flex-wrapper {
    padding: 0 $gutter $gutter $gutter;
    display: flex;
    justify-content: space-between;
    @include bp_lte(md) {
      flex-direction: column-reverse;
      justify-content: space-evenly;
    }
    .crud-form--image-and-data {
      max-width: 30%;
      @include bp_lte(md) {
        max-width: 100%;
      }
      img {
        max-height: 30rem;
        width: auto;
        max-width: 100%;
        object-fit: contain;
      }
      &__extra-data {
        color: $light-green;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      height: 100%;
      width: 100%;
      label {
        margin-right: $gutter;
        width: 20ch;
      }
      .crud-form--form__row {
        margin: 0.5rem 0;
        display: flex;
        align-items: center;
        .igdb-search-fields {
          display: flex;
          flex-direction: column;
          .search-field {
            margin-bottom: $gutter;
          }
          hr {
            width: 22rem;
            margin-top: $gutter;
          }
        }
      }
    }
  }
  .crud-form--footer {
    display: flex;
    align-items: center;
    padding: $gutter;
    background-color: $accent;
    button {
      margin-right: $gutter;
    }
  }
}
